@font-face {
    font-family: 'Inter Medium';
    src: url('/fonts/Inter-Medium.eot');
    src: url('/fonts/Inter-Medium.eot?#iefix') format('embedded-opentype'), url('/fonts/Inter-Medium.woff') format('woff'), url('/fonts/Inter-Medium.ttf') format('truetype'), url('/fonts/Inter-Medium.svg#Inter') format('svg');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Inter Thin';
    src: url('/fonts/Inter-Thin.eot');
    src: url('/fonts/Inter-Thin.eot?#iefix') format('embedded-opentype'), url('/fonts/Inter-Thin.woff') format('woff'), url('/fonts/Inter-Thin.ttf') format('truetype'), url('/fonts/Inter-Thin.svg#Inter') format('svg');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Inter SemiBold';
    src: url('/fonts/Inter-SemiBold.eot');
    src: url('/fonts/Inter-SemiBold.eot?#iefix') format('embedded-opentype'), url('/fonts/Inter-SemiBold.woff') format('woff'), url('/fonts/Inter-SemiBold.ttf') format('truetype'), url('/fonts/Inter-SemiBold.svg#Inter') format('svg');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Inter Light';
    src: url('/fonts/Inter-Light.eot');
    src: url('/fonts/Inter-Light.eot?#iefix') format('embedded-opentype'), url('/fonts/Inter-Light.woff') format('woff'), url('/fonts/Inter-Light.ttf') format('truetype'), url('/fonts/Inter-Light.svg#Inter') format('svg');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Inter ExtraLight';
    src: url('/fonts/Inter-ExtraLight.eot');
    src: url('/fonts/Inter-ExtraLight.eot?#iefix') format('embedded-opentype'), url('/fonts/Inter-ExtraLight.woff') format('woff'), url('/fonts/Inter-ExtraLight.ttf') format('truetype'), url('/fonts/Inter-ExtraLight.svg#Inter') format('svg');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Inter ExtraBold';
    src: url('/fonts/Inter-ExtraBold.eot');
    src: url('/fonts/Inter-ExtraBold.eot?#iefix') format('embedded-opentype'), url('/fonts/Inter-ExtraBold.woff') format('woff'), url('/fonts/Inter-ExtraBold.ttf') format('truetype'), url('/fonts/Inter-ExtraBold.svg#Inter') format('svg');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Inter Bold';
    src: url('/fonts/Inter-Bold.eot');
    src: url('/fonts/Inter-Bold.eot?#iefix') format('embedded-opentype'), url('/fonts/Inter-Bold.woff') format('woff'), url('/fonts/Inter-Bold.ttf') format('truetype'), url('/fonts/Inter-Bold.svg#Inter') format('svg');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Inter Black';
    src: url('/fonts/Inter-Black.eot');
    src: url('/fonts/Inter-Black.eot?#iefix') format('embedded-opentype'), url('/fonts/Inter-Black.woff') format('woff'), url('/fonts/Inter-Black.ttf') format('truetype'), url('/fonts/Inter-Black.svg#Inter') format('svg');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Inter Regular';
    src: url('/fonts/Inter-Regular.eot');
    src: url('/fonts/Inter-Regular.eot?#iefix') format('embedded-opentype'), url('/fonts/Inter-Regular.woff') format('woff'), url('/fonts/Inter-Regular.ttf') format('truetype'), url('/fonts/Inter-Regular.svg#Inter') format('svg');
    font-style: normal;
    font-weight: normal;
}

:root {
    --primary-color: #DD524C;
    --secondary-color: #DD524C;
    --bg-color: #121826;
    --panel-color: #212936;
    --text-color: #E5E7EB;
}

body {
    font-family: 'Inter Regular', sans-serif;
    background-color: var(--bg-color);
    color: var(--primary-color);
}

.bkm-top-bar {
    border-bottom: 1px solid var(--panel-color);
    margin-bottom: 49px;
}
.bkm-top-bar ul.bkm-top-bar-item {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
}
.bkm-top-bar ul li {
    display: inline-block;
    padding: 8px 0 8px 8px;
}
.bkm-top-bar ul li a {
    text-decoration: none;
    font-size: 16px;
    line-height: 21px;
    color: var(--primary-color);
}
.bkm-top-bar ul li a span {
    padding-right: 8px;
    vertical-align: middle;
    border-right: 1px solid var(--panel-color);
}
.bkm-top-bar ul li:last-of-type a span {
    border: unset;
}
.bkm-top-bar ul li a i {
    font-size: 18px;
    margin-right: 6px;
    vertical-align: middle;
}
.bkm-top-bar ul.bkm-tb-left {
    float: right;
}
.bkm-top-bar ul.bkm-tb-left li a {
    color: var(--text-color);
}
.bkm-panel {
    background-color: var(--panel-color);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.34);
    padding: 14px 12px;
    border-radius: 8px;
    border-bottom: 1px solid var(--primary-color);
}

.bkm-input {
    background-color: #fff;
    border: 2px solid var(--text-color);
    box-shadow: inset 0px 4px 4px #CFD0D2;
    border-radius: 32px;
    color: #7c8088;
    font-size: 16px;
    line-height: 19px;
    padding: 11.5px 15px;
}
.bkm-input:focus {
    color: #7c8088;
    background-color: #fff;
    border-color: var(--primary-color);
    outline: 0;
    box-shadow: inset 0px 4px 4px #CFD0D2;
}

.bkm-player-list {
    height: 70vh;
    overflow-y: scroll;
    border-bottom: 1px solid var(--bg-color);
    position: relative;
}
.bkm-player-list::-webkit-scrollbar {
    width: 6px;
}

.bkm-player-list::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 3px;
}

.bkm-player-list::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background: var(--primary-color);
}
.bkm-player {
    text-decoration: none;
    width: calc(100% - 12px);
    margin: 0 auto;
    display: block;
    padding: 20px 23px;
    border-bottom: 1px solid var(--bg-color);
    position: relative;
}
.bkm-player:last-of-type {
    border: unset;
}
.bkm-player p, .bkm-player img {
    display: inline-block;
}
.bkm-player p {
    font-size: 18px;
    line-height: 22px;
    color: var(--text-color);
    margin-left: 33px;
    margin-bottom: 0;
    position: relative;
}
.bkm-player img {
    position: absolute;
    right: 23px;
    top: 24px;
}
.bkm-dot {
    width: 16px;
    height: 16px;
    border-radius: 16px;
    display: inline-block;
    background-color: #fff;
    border: 1px solid #fff;
    box-shadow: 0px 0px 19px #000;
}
.bkm-dot.active {
    background: #43946C;
    border: 1px solid #8EE4BA;
    box-shadow: 0px 0px 19px #8EE4BA;
}
.bkm-dot.inactive {
    background: #DD524C;
    border: 1px solid #FA726C;
    box-shadow: 0px 0px 19px #FA726C;
}

.bkm-log {
    padding: 26px;
    margin-bottom: 16px;
    width: calc(100% - 10px);
}
.bkm-log:last-of-type {
    margin-bottom: 0;
}
.bkm-img-container {
    display: inline-block;
    background-color: var(--text-color);
    border-radius: 8px;
    vertical-align: top;
    width: 86px;
    height: 86px;
    position: relative;
}
.bkm-img-container img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 60%;
}
.bkm-log-text {
    display: inline-block;
    color: var(--text-color);
    padding: 19px;
    max-width: calc(100% - 105px);
}
.bkm-log-text p {
    font-size: 24px;
    line-height: 29px;
    margin: 0;
}
.bkm-log-text span {
    font-size: 18px;
    line-height: 22px;
}
.bkm-color-1 {
    color: #dd524c!important;
}
.bkm-color-2 {
    color: #43946C!important;
}
.bkm-color-3 {
    color: #0080d2!important;
}
ul.bkm-color-selector li {
    padding: 0;
}
.pagination {
    background-color: var(--panel-color);
    border-radius: 8px;
    box-shadow: 4px 4px 10px rgb(0 0 0 / 34%);
    justify-content: center;
    width: 50%;
    padding: 9px 20px;
}
.page-link {
    color: var(--text-color);
    background-color: unset;
    border: unset;
    font-weight: 600;
    border-right: 1px solid var(--bg-color);
}
.page-link:hover {
    z-index: 2;
    color: var(--primary-color);
    background-color: unset;
    border-color: var(--bg-color);
}
.page-link:focus {
    z-index: 3;
    color: var(--primary-color);
    background-color: unset;
    outline: 0;
    box-shadow: unset;
}
.page-item:last-of-type .page-link {
    border: unset;
}
.page-link.active {
    color: var(--primary-color);
}
.bkm-player-collapse {
    height: 0;
    overflow: hidden;
    transition: height ease .3s;
}
.bkm-player-collapse.expanded {
    height: 58px;
    transition: height ease .3s;
}
.bkm-player-collapse .btn, .bkm-player-collapse span {
    color: var(--text-color);
}
.bkm-log-container {
    overflow-y: scroll;
    height: calc(100% - 70px);
    max-height: 700px;
}

.bkm-log-container::-webkit-scrollbar {
    width: 6px;
}

.bkm-log-container::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 3px;
}

.bkm-log-container::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background: var(--primary-color);
}
.bkm-pagination-container {
    width: calc(100% - 16px);
}
.bkm-pagination-container .pagination {
    margin: 0;
    width: calc(100% - 24px);
    justify-content: end;
    border-bottom: 1px solid var(--primary-color);
}
.bkm-pagination-section {
    list-style-type: none;
    padding: 0;
    display: inline-block;
    margin-bottom: 0;
}
.bkm-pagination-section .bkm-label {
    display: inline-block;
    color: var(--text-color);
    font-size: 14px;
    line-height: 19px;
    vertical-align: middle;
    font-weight: 600;
}
.bkm-pagination-section .page-item {
    display: inline-block;
}
.bkm-get-player-log {
    cursor: pointer;
}
.bkm-display-table {}
.bkm-display-table .bkm-log .bkm-log-text {
    padding: 0 27px;
}
.bkm-display-table .bkm-log .bkm-log-text p {
    font-size: 21px;
    line-height: 22px;
}
.bkm-display-table .bkm-log .bkm-log-text span {
    font-size: 14px;
    line-height: 18px;
}
.bkm-display-table .bkm-log {
    max-width: calc(50% - 26px);
    display: inline-flex;
}
.bkm-display-table .bkm-log:nth-child(2n) {
    margin-left: 26px;
}
.bkm-display-table .bkm-log:last-of-type {
    margin-bottom: 26px;
}
.bkm-loading-anim {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@media screen and (max-width: 1198px) {
    .bkm-pagination-section .bkm-label {
        display: none;
    }
}
/* MD */
@media screen and (max-width: 992px) {
    .bkm-display-table {}
    .bkm-display-table .bkm-img-container {
        display: none;
    }
    .bkm-display-table .bkm-log .bkm-log-text{
        padding: 19px 0;
        max-width: 100%;
    }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
    .bkm-log-text {
        padding: 19px 0;
        max-width: unset;
    }
    .page-link {
        font-size: 14px;
    }
}
/* MD or less */
@media screen and (max-width: 768px) {
    .bkm-pagination-section {
        margin-right: 2px;
    }
    .bkm-log-text {
        padding: 0 19px;
    }
    .bkm-player-list {
        height: 30vh;
    }
}
@media screen and (max-width: 576px) {
    .bkm-event-timer b {
        text-transform: capitalize;
    }
}
